<po-page-default p-title="imagens">
  <div *ngIf="imagens.length > 1; else semImagem">
    <po-widget
      (p-primary-action)="abrirModalVisualizarImagem(imagem)"
      id="widgetFooterImages"
      [p-height]="280"
      *ngFor="let imagem of imagens"
      [p-background]="imagem.urls.full"
      class="po-md-3 po-mt-2"
      p-secondary-label="Excluir"
      p-primary-label="Visualizar"
    >
    </po-widget>
  </div>
  <ng-template #semImagem
    >Content to render when condition is false.</ng-template
  >
  <!-- <po-widget
id="widgetFooterImages"
[p-height]="280"
class="po-md-3 po-mt-2"
*ngFor="let imagem of imagens"
p-secondary-label="Excluir"
(p-secondary-action)="
  confirmarExcluirImagem(imagem.R_E_C_N_O_, imagem.Z5_DESC)
"
p-primary-label="Visualizar"
(p-primary-action)="abrirModalVisualizarImagem(imagem)"
[p-background]="imagem.Z5_URL"
>
</po-widget> -->

  <po-modal
    #modalVisualizarImagem
    p-size="md"
    [p-click-out]="true"
    [p-hide-close]="true"
  >
    <img [src]="imagemSelecionada" />
    <div class="container-slider">
      <po-divider p-label="Outras imagens"> </po-divider>
      <po-slide [p-slides]="slideItems" [p-interval]="0"  [p-height]="200" > </po-slide>
    </div>
  </po-modal>
</po-page-default>
