.btn-upload-catalogo {
  width: 100%;
  border: none;
  font-size: 3em;
  padding: 5rem 0rem;
  cursor: pointer;
}

/* img {
  object-fit: contain;
  width: 100%;
  max-height: 400px;
} */

#imagemSelecionada {
  width: 736px;
  height: 340px;
  object-fit: cover;
}

.slider-container {
  margin-top: 25px;
}

.po-modal-body {
  overflow-x: hidden;
  overflow-y: hidden;
}
